<section id="partner" class="tm-section-pad-top">
    <div>
      <div class="row">
        <div class="text-center col-12">
            <h2 class="tm-text-primary tm-section-title mb-4">PARTNERS</h2>
            <p class="mx-auto tm-section-desc">
              Các công ty đối tác
            </p>
        </div>            
      </div>
              <div class="logo-container">
                  <div class= "logo-container-top">
                    <a href="https://bachhoaviet.com" target="blank">
                        <img src="https://lh6.googleusercontent.com/4LO-6v8r14kJa1SqkrgzCUHuiO0DaAjv5dzCRfOXbZDWlhZPPWG4gLov2lOE26EPgpLrxjAuR3sFUBEU3p8-IhJHQSzOyJam2A2In3S-AvZvueLYjGwakdiL8b5S7mOJbDPWsdxR" alt="Image 1">
                    </a>
                    <a href ="https://imcplus.vn" target="blank">
                        <img src="https://lh4.googleusercontent.com/z3X9nKOjgH9RZJ-uaCvuhcX1KYcU_Ys9pWq7NB1SihvWyFRGXiW_PSET2ZNw7TMoJVaYGGLNMmC1-E0G2uvGtgElWrLsElEsg54jEJ17aIiUKQ3GVaefDzj4oz2PXiHV20v71Alt" alt="Image 2">
                    </a>
                    <a href = "https://k-decor.asia" target="blank">
                        <img src="https://k-decor.asia/app_masters/css/kdecor/logo.png" alt="Image 3">
                    </a>
                  </div>
                  <div class = "logo-container-bot" target="blank">
                    <a href="https://thegioitho.com">
                        <img src="https://thegioitho.com/image/logo-tgt.png" alt="Image 4">
                    </a>
                    <a href="https://k-group.asia/" target="blank">
                        <img src="https://lh5.googleusercontent.com/cOBjnWBJLaW7vnJsXDpXJ9Z3LQnSQpBgnBi_X1vlyMIQoVF0GWoxhCIcv0Cmtm5Npgr4EHVDnjNsiCVZML8t-s1dnfiWxnOjO4c3h6h00fUix6LPeiBrtb4GWm4Q31UWAtz6y6mA" alt="Image 6">
                    </a>
                  </div>
              </div>                       
    </div>
  </section>

