<section id="about" class="tm-section-pad-top">
      
    <div class="container">
          <div class="row tm-content-box"><!-- first row -->
              <div class="col-lg-12 col-xl-12">
                  <div class="tm-intro-text-container">
                    <h2 class="tm-text-primary mb-4 tm-section-title">ABOUT US</h2>
                    <p>
                        Công ty cổ phần K-LAND VIỆT NAM Khát vọng trở thành một công ty Quản lý và Đầu tư Bất Động Sản hàng đầu tại Việt Nam, đã và đang đi theo mô hình hỗ trợ công cụ quản lý và tài chính để xây dựng doanh nghiệp một cách hiệu quả nhất.
                    </p>
                    <p>
                        K-LAND Với nỗ lực không ngừng phát triển và đổi mới, đến nay cùng 12 công ty liên kết và chi nhánh đã tập trung mạnh mẽ vào một số ngành nghề kinh doanh như: Xây dựng - Nội thất, Quảng cáo, Đầu tư, Công Nghệ, Bất động sản...Các dịch vụ sản xuất hàng xuất khẩu, Hoạt động tư vấn quản lý tài chính, Dịch vụ ủy thác đầu tư, Dịch vụ tư vấn quản trị doanh nghiệp,...
                    </p>
                    <p>
                        K-LAND lấy phương châm “Đồng hành cùng phát triển”, Ban lãnh đạo đã và đang đi đúng hướng trong nền kinh tế cạnh tranh ngày càng cao. Trong thời gian qua công ty đã đạt được những thành tựu đáng kể, mạng lưới thị trường kinh doanh được mở rộng đến các tỉnh thành trọng điểm trong cả nước. Song song, điểm mạnh của chúng tôi chính là sở hữu cho mình một đội ngũ có phong cách làm việc chuyên nghiệp, tận tâm và không ngừng nổ lực để mang lại giá trị và thành công cao nhất cho đối tác, khách hàng. 
                    </p>
                  </div>
              </div>
              </div>
      </div>
    
  </section>
